@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

html{
    background-image: url('../img/background-image.png');
    background-repeat:no-repeat;
    background-position: 50% 70%;
    height: 100%;
}
body {
    width: 1280px;
    height: 166px;
    margin-left: auto;
    margin-right: auto;


}

hr{
    height: 1px;
    background-color: #9f9f9f;
}

