@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Roboto:500);
@import url(http://fonts.googleapis.com/css?family=Roboto);

#page-with-products{
    display: inline-block;
    margin-top: 7px;
    margin-left: 220px;
    width: 715px;
    height: 1220px;

    position: absolute;
}

.product-containers{
    display: inline-block;
    margin-left: 15px;
    margin-top: 29px;

    width: 220px;
    height: 350px;

    position: relative;
    overflow-y: hidden;

    box-shadow: 0px 3px 15px #000;
}

.productImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 220px 250px;
    width: 220px;
    height: 250px;
}

.product-news{
    position: relative;
    width: 114px;
    height: 114px;
    float: right;
    background-image: url("../img/product-news-background.png");
}

.product-news p{
    position: absolute;
    margin-top: 18%;
    margin-left: 42%;
    transform: rotate(45deg);

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.product-information{
    background-color: white;
    width: 220px;
    height: 94px;
}

.product-name{
    padding-top: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.product-price{
    text-align: center;
    margin-top: 15px;
}

.old-price{
    display: inline-block;
    text-decoration: line-through;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #9dc44e;
}

.new-price{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.add-to-card-menu{
    position: absolute;
    top:344px;
    width: 220px;
    height: 40px;

    background-color:#404040;
    background-image: url("../img/add-to-cart-icon.png");
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

.add-to-card-menu button{
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #9dc44e;

    margin-top: 10px;
    margin-left: 11px;
}

#product-pages{
    width: 700px;
    height: 40px;

    background-color: #404040;
    position: absolute;
    bottom: 2px;
    right: 5px;
}

#left-arrow{
    width: 43px;
    height: 30px;
    margin-top: 5px;
    position: absolute;
    left: 25px;

    background-image: url("../img/left-arrow.png");
    background-color: transparent;
}

#right-arrow{
    width: 43px;
    height: 30px;
    margin-top: 5px;
    position: absolute;
    right: 25px;

    background-image: url("../img/right-arrow.png");
    background-color: transparent;
}

#numbers-of-pages{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 25%;
}

#numbers-of-pages a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;

    margin-left: 5px;
}