@import url(http://fonts.googleapis.com/css?family=Roboto);

footer{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 196px;

    background-color: #cbcbcb;
}

#footer-content{
    width: 960px;
    height: 110px;

    margin: 0 auto;
    padding-top: 40px;
    position: relative;
}

#footer-content div,table{
    display: inline-block;
}

#address{
    padding-left: 10px;
    width: 190px;
}

#address p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #828282;
    padding-top: 5px;
}

#address p:first-child{
    padding-top: 0px;
}

#social-networks-profiles{
    margin-top: 15px;
}

#social-networks-profiles img{
    width: 20px;
    height: 21px;

    background-repeat: no-repeat;
    background-position: center;
}

#facebook img{
    background-image: url("../img/facebook-icon.png");
}

#facebook img:hover{
    background-image: url("../img/facebook-white-icon.png");
}

#google-plus img{
    background-image: url("../img/googleplus-icon.png");
}

#google-plus img:hover{
    background-image: url("../img/google-plus-white-icon.png");
}

#pinterest img{
    background-image: url("../img/pinterest-icon.png");
}

#pinterest img:hover {
    background-image: url("../img/pinterset-white-icon.png");
}

#linked-in img{
    background-image: url("../img/linked-in-icon.png");
}

#linked-in img:hover{
    background-image: url("../img/linke-in-white-icon.png");
}

#twitter img{
     background-image: url("../img/twitter-icon.png");
 }

#twitter img:hover{
    background-image: url("../img/twitter-white-icon.png");
}

#instagram img{
    background-image: url("../img/instagram-icon.png");
}

#instagram img:hover{
    background-image: url("../img/instagram-white-icon.png");
}

#contact-us{
    width: 270px;
    height: 80px;
    position: absolute;
}

#contact-us p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #828282;
}

#send-email{
    margin-top: 12px;
    width: 220px;
    height: 40px;
    background-color: #828282;
    background-image: url("../img/send-email-icon-grey.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

#send-email p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #cbcbcb;
    margin-left: 10px;
    margin-top: 10px;
}

#send-email:hover {
    background-image: url("../img/send-email-icon-green.png");
}

#send-email:hover p{
    color: #9dc44e;
}

#more-options{
    position: absolute;
    right: -10px;
    top: 18px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #828282;

    border-spacing: 15px;
}

#more-options td{
    width: 220px;
    height: 33px;
    background-image: url("../img/footer-arrow.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    border-bottom: 1px solid white;


}

#more-options tr:last-child td:last-child{
    background: none;
}

#more-options td:hover {
    background-image: url("../img/footer-arrow-white.png");
    color: white;
}

#more-options tr:last-child td:last-child:hover{
    background: none;
}

#third-row{

}

#payment{
    background:none;
}

#pay-options {
    display: inline-block;
}

#pay-options div{
    width: 50px;
    height: 33px;
    display: inline-block;
}

#paypal-logo{
    background-image: url("../img/paypal-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

#visa-logo{
    background-image: url("../img/visa-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

#mastercard-logo{
    background-image: url("../img/mastercard-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

#sofort-logo{
    background-image: url("../img/sofort-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

#footer-horizontal-line{
    background: white;
}

#copyright{
    position: absolute;
    width: 117px;
    height: 36px;
    left: 10px;
    bottom: -40px;
    display: inline-block;

    background-image: url("../img/footer-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

#move-to-top{
    position: absolute;
    width: 41px;
    height: 17px;
    display: inline-block;
    right: 0px;
    bottom: -40px;

    background-image: url("../img/move-top.png");
    background-repeat: no-repeat;
    background-position: center;
}