@import url(http://fonts.googleapis.com/css?family=Roboto);

#navigation{
    display:inline-block;
    position: relative;
    width: 80%;
    height: 50%;

}

#navigation a{
    text-decoration:none;
    color:#777777;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#navigation ul{
    position: absolute;
    top: 20%;
    left: 23%;
    list-style-type:none;
}

#navigation li{
    display:inline-block;
    height: 40px;
    margin-left: 15px;
    padding-top: 20px;
}

#navigation li:first-child{
    margin-left: 0px;
}

#navigation li:hover{
    background-image: url("../img/navigation-leaf.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    color: #9dc44e;

}

