@import url(http://fonts.googleapis.com/css?family=Roboto);

#log-in-container{
    width: 110px;
    position: absolute;
    right: -300px;
}

#log-in{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration:none;
    color:#777777;
}

#user p, #user a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration:none;
    color:#777777;
}

#user a:hover{
    text-decoration: underline;
}