input {
    font-size: 14px;
    width: 150px;
    height: 20px;
    display: block;
    background-color: #F5F5F5;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-bottom: 5px;
}

input[type="submit"] {
    background-color: #9dc44e;
    display: inline-block;
}

#log-in-hr {
    margin-bottom: 5px;
}

#log-in-h1 {
    font-size: 30px;
}

.cart-buttons {

    width: 150px;
    height: 18px;
    display: inline-block;
    background-color: #9dc44e;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-top: 1px;
}

.cart-buttons a {
    text-decoration: none;
    margin-left: 25%;
    font-size: 14px;
    color: black;
}
