@import url(http://fonts.googleapis.com/css?family=Roboto);

#log-in-container{
    width: 110px;
    position: absolute;
    right: -240px;
}

#log-in{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration:none;
    color:#777777;
}