@import url(http://fonts.googleapis.com/css?family=Roboto:700);

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 88px;
    color: #404040;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #404040;
}

#content > p, .news p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #404040;
}
.news h1{
    font-size: 40px;
}

.news h2{
    font-size: 20px;
}