.product-content {width: 100%; float: left; padding: 40px 0;}
.product-content .left {width: 420px; float: left;}
.product-content .left .main-photo {width: 90%; border-radius: 15px;}

.product-content .right {width: 460px; float: right;}
.product-content .right .title {border-bottom: 0px solid #000;}
.product-content .right .price {padding: 20px 0;}